body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EEF1EF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    display: inline;
}

.letterhead-img {
    max-height: 75px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

nav {
    background-color: #666A6F;
    overflow: hidden;
}

nav .content {
    max-width: 600px;
    margin: 0 auto;
}

nav a {
    float: right;
    display: block;
    color: #EEF1EF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #EEF1EF;
    color: #666A6F;
}

nav a.active {
    background-color: #EF2E31;
    color: white;
}

nav a#language-toggle {
    float: left;
}

html[dir="ltr"] nav a {
    float: left;
}

html[dir="ltr"] nav a#language-toggle {
    float: right;
}

main {
    font-size: 20px;
    margin-top: 154px;
    margin-bottom: 71px;
}

main h2 {
    font-family: "Rubik Marker Hatch", serif;
    font-size: 42px;
    margin: 0 0 10px;
}

section {
    width: 100%;
    padding: 20px 0;
    position: relative;
    background: #FFF;
}

.text-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.supplier-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.supplier-list li {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
    font-size: 85%;
}

.supplier-list li:not(:last-child) {
    border: 1px solid #666A6F;
    border-radius: 5px;
}

.supplier-list li:not(:last-child):hover {
    background-color: #EEF1EF;
    transition: background-color 0.3s ease;
}

.supplier-list li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    height: calc(100% - 20px);
}

.supplier-list li img {
    max-width: min(100%, 120px);
    height: 35px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#about {
    background: #F69495C0;
}

#about img {
    width: 600px;
    max-width: 100%;
    display: block;
    margin: -20px auto;
    filter: drop-shadow(2px 4px 6px black);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #eef1efdd;
    color: #666A6F55;
}

footer a {
    color: #EF2E31;
    text-decoration: none;
}

@media screen and (max-width: 620px) {
    .text-box {
        max-width: 100%;
        margin: 0;
        padding: 20px;
    }

    section {
        padding: 0;
    }
}

@media screen and (max-width: 620px) {
    #services ul li {
        flex: 1 1 100%;
    }

    #services ul li ul li {
        flex: 1 1 calc(50% - 10px);
    }
}

@media screen and (max-width: 316px) {
    #services ul li ul li {
        flex: 1 1 100%;
    }
}